body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
  /* her brukte jeg chatgpt */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* her brukte jeg chatgpt */
header, main, footer{
  max-width: 430px;
  width: 100%;
}

/*header*/
header {
  padding: 16px 0;
}

header ul {
  list-style: none;
  padding: 0;
}

#logo {
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}

header nav a {
  color: #000;
  text-decoration: none;
}

/*her har jeg sprte chat gpt*/
form {
  border: 1px solid black;
  width: 250px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
form input {
  border: none;
}

/*main*/
/* index.html */
.reklame-seksjon{
    background-color: #cccccc;
    padding: 35px;
    text-align: right;
}

.reklame-seksjon button{
    color: white;
    background-color: #000;
    border: none;
    padding: 10px 15px;
}

.filter-button-section ul{
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 1rem;
}

.filter-button-section ul li button{
    background-color: white;
    border: 1px solid gray;
    padding: 20px 25px;
    text-align: left;
}

.product-card{
  margin: 1.5rem 0;
}

.product-card h3, .product-card p{
  margin: 10px 0;
}

/*footer*/

footer {
  border-top: 1px solid gray;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer a {
  color: black;
  text-decoration: none;
}
