/* felles */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6rem;
  /* her brukte jeg chatgpt */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* her brukte jeg chatgpt */
header,
main,
footer {
  max-width: 430px;
  width: 100%;
}

section {
  margin: 3rem 0;
}

/*header*/
header {
  padding: 16px 0;
}

header ul {
  list-style: none;
  padding: 0;
}

#logo {
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}

header nav a {
  color: #000;
  text-decoration: none;
}

header i,
footer i {
  font-size: 20px;
}

/*her har jeg sprte chat gpt*/
header form {
  border: 1px solid black;
  max-width: 250px;
  padding: 5px 10px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
header form input {
  width: 100%;
  border: none;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

/*main*/
/* index.html */
.banner {
  background-color: #cccccc;
  padding: 35px;
  text-align: right;
}

.banner button {
  color: white;
  background-color: #000;
  border: none;
  padding: 10px 15px;
}

.filter-button-section ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  /* her brukte jeg flexwrap fra mozilla til å teste om jeg bruke den til filter knapp seksjon i hjemside  */
  /* gap: 1rem; */
  flex-wrap: wrap;
}

.filter-button-section ul li button {
  background-color: white;
  border: 1px solid gray;
  padding: 20px 25px;
  text-align: left;
}

.product-card {
  margin: 1.5rem 0;
}

.product-card img {
  max-width: 430px;
  width: 100%;
}

.product-card h3,
.product-card p {
  margin: 10px 0;
}
.product-card a {
  text-decoration: none;
  color: #000;
}

.kategori-seksjon article {
  border: 1px solid black;
  padding: 7rem;
  text-align: center;
  margin: 1rem 0;
}

.feedback-seksjon article {
  border: 1px solid gray;
  padding: 1rem;
  margin: 1rem 0;
}

/* produkt side */

.breadcrumb ul {
  padding: 0;
  list-style: none;
  display: flex;
  /* her brukte jeg mozilla breadcrumb sin kode */
  flex-wrap: wrap;
  align-items: end;
}
/* her brukte jeg mozilla breadcrumb sin kode */
.breadcrumb li:not(:last-child)::after {
  display: inline-block;
  margin: 0 0.25rem;
  content: ">";
}

.produkt-bilde-seksjon figure {
  margin: auto 0;
}

.product-card .produkt-side-card {
  display: flex;
  justify-content: space-between;
}

/* checkout seksjon */

.kasse-side h3,
.kasse-side p {
  margin: 0;
}

.skjemapåfyll form input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  margin: 5px 0;
}

.checkout-knapp {
  display: block;
  background-color: #434343;
  color: white;
  padding: 10px 15px;
  /* brukte w3 school sin kode her */
  border-style: solid;
  border-color: #e3e3e3 #979797 #979797 #e3e3e3;
  margin: 10px 0;
}

.check-knapp-seksjon label {
  display: block;
  margin: 10px 0;
  font-weight: 800;
}

.check-knapp-seksjon label input {
  margin: 0;
}

.betalings-info footer {
  margin: 20px 0;
}

.betalings-info footer p,
.betalings-info footer button {
  margin: 0;
}

/*footer*/

.footer {
  border-top: 1px solid gray;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer a {
  color: black;
  text-decoration: none;
}

@media only screen and (min-width: 600px) {
  header,
  main,
  footer {
    max-width: 1200px;
    width: 100%;
  }

  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  /* her brukte jeg w3 school sin kode */
.footer-logo-seksjon {
    grid-area: logo;
  }
  .footer-kontakt-seksjon {
    grid-area: kontakt;
  }
  .footer-snarvei-seksjon {
    grid-area: snarvei;
  }
  .footer-sms-seksjon {
    grid-area: sms;
  }

  .footer {
    display: grid;
    grid-template-areas:
      "logo logo logo "
      "kontakt  snarvei   sms"
      "kontakt  snarvei   sms";
  }

  .footer-kontakt-seksjon strong{
    margin: 0 10px;
  }
  
}
